//@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.volunteersGuide-button {
	font-size: 24px;
	color: #fff;
	background-color: #313131;
	padding: 6px 12px 6px 12px;
	border-width: 1px;
	border-color: #313131;
	border-style: solid;
	border-radius: 10px;
}

.volunteersGuide-button:hover {
	color: #fff;
	background-color: #595959;
	box-shadow: 3px 3px 1px 1px #ccc;
	transition: all 0.2s ease;
	text-decoration: none;
}

#world-map, #world-map .jvectormap-container svg {
	width: 100%;
	height: 550px;
}

.jvectormap-container {
	background-color: white !important;
}

.jvectormap-zoomin, .jvectormap-zoomout {
	width: 12px;
	height: 12px;
}