.jQWCP-wWidget {
	margin-left: 30px;
}

.color-preview-box {
	display: inline-block;
	width: 1.3em;
	height: 1.3em;
	vertical-align: middle;
	padding: 2px;
	background-clip: content-box;
	border: solid 1px #888;
	margin-right: .2em;
	cursor: pointer;
}<